package migrations

import (
	"context"

	"github.com/uptrace/bun"
)

func init() {
	type team struct {
		bun.BaseModel  `bun:"table:teams"`
		ID             int64  `bun:"id,pk,autoincrement"`
		Name           string `bun:"name"`
		Slug           string `bun:"slug,unique"`
		OwnerAccountID int64  `bun:"owner_account_id"`
	}
	Migrations.MustRegister(func(ctx context.Context, db *bun.DB) error {
		_, err := db.NewCreateTable().Model((*team)(nil)).Exec(ctx)
		return err
	}, func(ctx context.Context, db *bun.DB) error {
		_, err := db.NewDropTable().Model((*team)(nil)).IfExists().Exec(ctx)
		return err
	})
}
