package model

import "github.com/uptrace/bun"

// {{.Type}} is the persisted {{.Pkg}} model.
type {{.Type}} struct {
	bun.BaseModel `bun:"table:{{.Plural}},alias:{{.Pkg}}" json:"-"`
	ID            int64  `bun:"id,pk,autoincrement" json:"id"`
	Name          string `bun:"name" json:"name"`
}
