package model

import "github.com/uptrace/bun"

// User is the persisted user model.
type User struct {
	bun.BaseModel `bun:"table:users,alias:u" json:"-"`
	ID            int64  `bun:"id,pk,autoincrement" json:"id"`
	Name          string `bun:"name" json:"name"`
	Email         string `bun:"email" json:"email"`
}
