package model

import "github.com/uptrace/bun"

// Account is the authentication entity.
type Account struct {
	bun.BaseModel `bun:"table:accounts,alias:account" json:"-"`
	ID            int64  `bun:"id,pk,autoincrement" json:"id"`
	Email         string `bun:"email,unique" json:"email"`
	PasswordHash  string `bun:"password_hash" json:"-"`
	Scopes        string `bun:"scopes" json:"scopes"`
}
